body {
    background-color: #f5f5f5;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: center;
}
form {
    width: 50%;
    margin: 0 auto;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
table, th, td, tr {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #6b05fc;
    background: aliceblue;
}
a:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.col-sm-10 {
    width: 80%;
}

.col-sm-1 {
    text-align: center;
}